# Evaluation and analysis of results

In [2]:
import pandas as pd

In [24]:
# load data
question_data = pd.read_excel("/home/maria/STUDIUM/Master/5.Semester/Seminar/llmSeminar/data/questions_overview_answerFromTable.xlsx")
results_b2 = pd.read_excel("/home/maria/STUDIUM/Master/5.Semester/Seminar/llmSeminar/data/predictions/preds_answerFromTable_b2.xlsx")
results_mcot = pd.read_excel("/home/maria/STUDIUM/Master/5.Semester/Seminar/llmSeminar/data/predictions/preds_answerFromTable_mcot.xlsx")
results_mcot.head()

,question_uid,gptAnswer_mcot,extractedAnswer_mcot,label,correct,problem,note,scale,derivation
0,921d80d2-1ea6-4c31-bf06-6393e5ca70ab,The U.S. tax reform charge in 2019 was $146 mi...,$146 million,['146'],True,NaN,NaN,million,NaN
1,82233a8d-8e3d-4d17-ae97-ba62b4a8ba70,To calculate the total revenue between 2017 an...,"$3,980.6 million",3980.6,True,NaN,NaN,million,"1,536.7+1,378.2+1,065.7"
2,32302c33-8761-4f54-9ca6-b6c1efc2e8d9,The components factored in when calculating th...,-,"['Operating profit', 'Adjustments']",False,value detection,NaN,NaN,NaN
3,e604014a-4498-4c15-be8b-de955b3a2607,To calculate the ratio of compensation expense...,-0.0106,0.96,False,NaN,NaN,NaN,109.7/(0.41*278.29)
4,eff067ee-a81b-4831-be56-7f026f781434,To calculate the difference between the asset ...,0,-0.05,False,NaN,NaN,percent,(51.2/157.4)-(51.5/158.1)

In [25]:
# concat evaluation of results to metadata df
results_df = pd.concat([question_data, pd.Series(list(results_b2["correct"]), name='correct_b2'), pd.Series(list(results_mcot["correct"]), name='correct_mcot')], axis=1)

In [26]:
# percentage of correct/false answers
print(results_df["correct_b2"].value_counts(normalize=True))

print(results_df["correct_mcot"].value_counts(normalize=True))

correct_b2
True     0.65
False    0.35
Name: proportion, dtype: float64
correct_mcot
True     0.63
False    0.37
Name: proportion, dtype: float64

In [27]:
# by table size
print(results_df.groupby(["table_small"])["correct_b2"].value_counts(normalize=True))

print(results_df.groupby(["table_small"])["correct_mcot"].value_counts(normalize=True))

table_small  correct_b2
False        True          0.6
             False         0.4
True         True          0.7
             False         0.3
Name: proportion, dtype: float64
table_small  correct_mcot
False        True            0.54
             False           0.46
True         True            0.72
             False           0.28
Name: proportion, dtype: float64

In [29]:
# by category
print(results_df.groupby(["category"])["correct_b2"].value_counts(normalize=True))

print(results_df.groupby(["category"])["correct_mcot"].value_counts(normalize=True))

category                    correct_b2
Multi-span                  False         0.700000
                            True          0.300000
arithmetic                  True          0.583333
                            False         0.416667
count                       True          1.000000
span (no comparison)        True          0.900000
                            False         0.100000
span (requires comparison)  True          0.800000
                            False         0.200000
Name: proportion, dtype: float64
category                    correct_mcot
Multi-span                  False           0.500000
                            True            0.500000
arithmetic                  True            0.533333
                            False           0.466667
count                       True            0.900000
                            False           0.100000
span (no comparison)        True            0.900000
                            False           0.100000
span (requires comparison)  True            0.800000
                            False           0.200000
Name: proportion, dtype: float64

In [30]:
# by category (finegrained)
print(results_df.groupby(["category", "category_finegrained"])["correct_b2"].value_counts(normalize=True))

print(results_df.groupby(["category", "category_finegrained"])["correct_mcot"].value_counts(normalize=True))

category                    category_finegrained        correct_b2
Multi-span                  Multi-span                  False         0.7
                                                        True          0.3
arithmetic                  average                     True          0.6
                                                        False         0.4
                            difference                  True          0.6
                                                        False         0.4
                            percentage change           False         0.5
                                                        True          0.5
                            percentage of               True          0.7
                                                        False         0.3
                            ratio                       False         0.5
                                                        True          0.5
                            total                       True          0.6
                                                        False         0.4
count                       count                       True          1.0
span (no comparison)        span (no comparison)        True          0.9
                                                        False         0.1
span (requires comparison)  span (requires comparison)  True          0.8
                                                        False         0.2
Name: proportion, dtype: float64
category                    category_finegrained        correct_mcot
Multi-span                  Multi-span                  True            0.5
                                                        False           0.5
arithmetic                  average                     True            0.5
                                                        False           0.5
                            difference                  True            0.5
                                                        False           0.5
                            percentage change           True            0.6
                                                        False           0.4
                            percentage of               True            0.5
                                                        False           0.5
                            ratio                       True            0.5
                                                        False           0.5
                            total                       True            0.6
                                                        False           0.4
count                       count                       True            0.9
                                                        False           0.1
span (no comparison)        span (no comparison)        True            0.9
                                                        False           0.1
span (requires comparison)  span (requires comparison)  True            0.8
                                                        False           0.2
Name: proportion, dtype: float64

In [31]:
# by table size & category
results_df.groupby(["category", "table_small"])["correct_b2"].value_counts(normalize=True)

category                    table_small  correct_b2
Multi-span                  False        False         0.800000
                                         True          0.200000
                            True         False         0.600000
                                         True          0.400000
arithmetic                  False        False         0.500000
                                         True          0.500000
                            True         True          0.666667
                                         False         0.333333
count                       False        True          1.000000
                            True         True          1.000000
span (no comparison)        False        True          0.800000
                                         False         0.200000
                            True         True          1.000000
span (requires comparison)  False        True          1.000000
                            True         True          0.600000
                                         False         0.400000
Name: proportion, dtype: float64